body {
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.item-border {
  text-align: center;
  margin: 1em auto 0 auto;
  padding: 0 2em 0 2em;
  border: solid 2px #111;
  border-radius: 3em;
  background-color: #eee;
  box-shadow: 0em 0em 2em #000;
  width: 600px;
  background-image: url(../images/item-background.png);
}

@media (max-width: 720px){
  .item-border {
    text-align: center;
    margin: 1em auto 0 auto;
    padding: 0 2em 0 2em;
    border: solid 2px #111;
    border-radius: 3em;
    background-color: #eee;
    box-shadow: 0em 0em 2em #000;
    width: 380px;
    background-image: url(../images/item-background.png);
  }
}


p.ng-binding {
  margin-bottom: 0;
}

.btn.item-button {
  margin: 0 0 1em 0;
  border: solid 0.1em darkblue;
}


.repeat-container {
  font-family: Arial;
}

.item-thumb {
    box-shadow: 0em 0em 3em #000;
    border: solid 0.2em #ddd;
    border-radius: 1em;
}

.item-thumb:hover {
    box-shadow: 0em 0em 3em #fff;
    border: solid 0.2em cyan;
}

.item-name {
  font-family: Arial;
  font-weight: bold;
  color: #f7f7f7;
  background-color: #222;
  border: solid 0.07em #ddd;
  border-radius: 2em;
  z-index: 5;
  padding: 0.1em 0 0.1em 0;
}

.item-dimensions {
  font-size: 1.2em;
  color: #f7f7f7;
}

.nav-link {
  background-color: lightgrey;
  color: black;
  border: solid 0.1em darkblue;
  margin: 0 0.1em 0 0.1em;
  box-shadow: 0em 0em 2em #000;
  z-index: 5;
}

.nav-item a {
  background-color: lightgrey;
  color: black;
  border: solid 0.1em darkblue;
  margin: 0 0.2em 0 0;
  box-shadow: 0em 0em 2em #000;
  z-index: 5;
}

.panel {
  margin: 0.5em 0em 0.5em 0;
  padding: 0.5em;
  box-shadow: 0em 0em 2em #000;
  border: solid 0.1em darkblue;
   z-index: 1;
}

.submit-username {
  border-radius: 0.4em;
}

blockquote h3 {
  text-decoration: underline;
}
